<!DOCTYPE html>
<html>

{% load tz %}
{% load static %}
{% load i18n %}
{% get_media_prefix as MEDIA_URL %}


<head>
    <link href="{% static 'css/tmg_report.css' %}" rel="stylesheet">
</head>

<body>
<img alt="Alternate text" border="0" class="left fixedwidth"
     src="https://atencion1.venedigital.com/static/header.jpg"
     style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 35%; max-width: 360px; display: block;"
     title="Alternate text" width="360"/>
<h1>Informe Médico</h1>
<p id="date1"><b>Fecha del informe</b>: {{ time_now|timezone:"America/Caracas"|date:"d\-m\-Y" }}</p>
<div class="summary">
    <b>Paciente</b>: {{ affiliate.first_name }} {{ affiliate.last_name }}.
    <p><b>Identificación</b>: {{ affiliate.dni }}.</p>
    <p><b>Edad</b>: {{ age }}.</p>
</div>
<div class="text_body">
    <p style="text-align:  justify;">Se trata de paciente {% trans affiliate.get_gender_display|lower %} de {{ age }} años, quien fue {% if affiliate.gender == "FEMALE" %} evaluada {% else %} evaluado {% endif %} por el servicio de Orientación Médica Telefónica/Virtual que ofrece la empresa VENEMERGENCIA AG, C.A. (J-31162445-7) a través de la empresa de seguros {{ plan_org|upper }}.</p>
    <p style="text-align:  justify;">{% if affiliate.gender == "FEMALE" %} La paciente fue evaluada {% else %} El paciente fue evaluado {% endif %} en la fecha {{ tmg.call_start|timezone:"America/Caracas"|date }} por el/la Dr(a). {{ tmg.attendant.first_name }} {{ tmg.attendant.last_name }} por presentar la siguiente impresión diagnóstica:</p>
    {% for diagnosis in diagnoses %}
        <p>- {{ diagnosis }}.</p>
    {% endfor %}
    {% if tmg.other_diagnoses != None %}
        <p>{{ tmg.other_diagnoses|linebreaks }}</p>
    {% endif %}
    {% if tmg.request_medical_indication != "" %}
        <p>Y se le indicó tratamiento ambulatorio con:</p>
        <p>{{ tmg.request_medical_indication|linebreaks }}</p>
    {% endif %}
</div>
<div class="tg-wrap">
    <table>
        <tbody>
        <tr>
            <td ; style="font-size: 12px; text-align: center">
                <img alt="Firma" border="0" class="center"
                     src="{{ MEDIA_URL }}{{ attendant.signature }}"
                     style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 35%; max-width: 360px; display: block;"
                     title="Alternate text" width="360"/>
            </td>
        <tr>
            <td ; style="font-size: 12px; text-align: center">
                <p>Médico Dr(a) {{ tmg.attendant.first_name }} {{ tmg.attendant.last_name }}</p>
            </td>

            <td ; style="font-size: 12px; text-align: center">Sello Venemergencia</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>