<!DOCTYPE html>
<html>

{% load tz %}
{% load static %}
{% load i18n %}
{% get_media_prefix as MEDIA_URL %}

<head>
    <link href="{% static 'css/tmg_report.css' %}" rel="stylesheet">
</head>

<body>
<img alt="Alternate text" border="0" class="left fixedwidth"
     src="https://atencion1.venedigital.com/static/header.jpg"
     style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 35%; max-width: 360px; display: block;"
     title="Alternate text" width="360"/>
<h1>Referencia Médica a Especialista</h1>
<p id="date1"><b>Fecha</b>: {{ time_now|timezone:"America/Caracas"|date:"d\-m\-Y" }}</p>
<div class="summary">
    <b>Paciente</b>: {{ affiliate.first_name }} {{ affiliate.last_name }}.
    <p><b>Documento de identidad</b>: {{ affiliate.dni }}.</p>
    <p><b>Sexo</b>: {% trans affiliate.get_gender_display %}.</p>
    <p><b>Plan de seguros</b>: {{ tmg.policy.plan.name }} de {{ tmg.policy.plan.organization.name }}.</p>
    <p><b>Atendido por</b>: Dr./Dra. {{ tmg.attendant.first_name }} {{ tmg.attendant.last_name}}.</p>
    <p><b>ID de atención</b>: {{ attention.id}}. <b>ID de servicio</b>: {{ tmg.id}}.</p>
    <p><b>Fecha del servicio</b>: {{ tmg.call_start|timezone:"America/Caracas"|date }}. <b>Hora del servicio</b>: {{ tmg.call_start|timezone:"America/Caracas"|time:"h:i a"}}.</p>
</div>
<div class="tg-wrap">
    <table>
        <thead>
        <tr>
            <th>Referencia médica a especialista:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ tmg.request_medical_specialist|linebreaks }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="tg-wrap">
    <table>
        <tbody>
        <tr>
            <td ; style="font-size: 12px; text-align: center">
                <img alt="Firma" border="0" class="center"
                     src="{{ MEDIA_URL }}{{ attendant.signature }}"
                     style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 35%; max-width: 360px; display: block;"
                     title="Alternate text" width="360"/>
            </td>
            <td ; style="font-size: 12px; text-align: center">
                <img alt="Sello" border="0" class="center"
                     src="https://atencion1.venedigital.com/media/profile_stamps/SelloVenemergencia.jpg"
                     style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 35%; max-width: 360px; display: block;"
                     title="Alternate text" width="360"/>
            </td>
        <tr>
            <td ; style="font-size: 12px; text-align: center">
                <p>Médico Dr(a) {{ tmg.attendant.first_name }} {{ tmg.attendant.last_name }}</p>
            </td>

            <td ; style="font-size: 12px; text-align: center">Sello Venemergencia</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>