h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #993300;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 26px;
}

table {
    width: 700px;
    table-layout: fixed;
    border-spacing: 5px 10px;
}

th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #993300;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: left;
    vertical-align: bottom;
    /* height: 50px; */
    width: 350px;
    /* border-top: 1px solid #ddd; */
}

td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    text-align: left;
    height: 50px;
    vertical-align: center;
    width: 350px;
}

.summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #555555;
    line-height: 1.2px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text_body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    color: #555555;
    text-align: left;
}

#date1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #555555;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
}