{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"> 
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'symbol_grupov_peq_alt.png' %}" height="40px" />
        <strong> ATENCIÓN-1 </strong> 
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}